<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TepChoulong</title>
        <link rel="stylesheet" href="/Css/index.css">
        <link rel="stylesheet" href="/Css/NavigationBar.css">
    </head>
    <body>
        <header id="header">
            <div class="container">
                <nav class="menu">
                    <div class="logo"><h1>Tep Choulong</h1></div>
                    <ul>
                        <li><a href="#header">Home</a></li>
                        <li><a href="#about">About Me</a></li>
                        <li><a href="#service">Service</a></li>
                        <li><a href="#project">Project</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
                <section>
                    <div class="header-container-information">
                        <h1>
                            Hi, My name is Tep Choulong. <br> 
                            I am a <br>
                            Webdesigner <br> and <br> Webdeveloper.
                        </h1>
                        <button id="download-btn-header-section"><a href=""></a>Download</button>
                    </div>
                </section>
            </div>
        </header>
        <Section class="about-section" id="about">
            <h1 id="Title">About Me</h1>
            <div class="about-section-container">
                <img src="/Pic/Vanny-crazyface-1.jpg" alt="My Picture">
                <p id="text-information">
                    Hi, My name is Tep Choulong. I'm 15 years old. I am a Fullstack Webdeveloper.
                    I used to work at Microsoft about 3 years. If you want me to work at your company, Please contact me.
                    <br>
                    <br>
                    Click on the Contact button on the navigationbar.
                </p>
            </div>
        </Section>
        <Section class="service-section" id="service">
            <h1 id="Title">Service</h1>
            <div class="service-section-container">
                <div class="container-1">
                    <h1>Hello World</h1>
                    <div class="container-1-information">
                        <p>
                            Hello I am a Webdeveloper and a Webdesigner.
                        </p>
                    </div>
                </div>
                <div class="container-2">
                    <h1>Hello World</h1>
                    <div class="container-2-information">
                        <p>
                            Hello I am a Webdeveloper and a Webdesigner.
                        </p>
                    </div>
                </div>
                <div class="container-3">
                    <h1>Hello World</h1>
                    <div class="container-3-information">
                        <p>
                            Hello I am a Webdeveloper and a Webdesigner.
                        </p>
                    </div>
                </div>
                <div class="container-4">
                    <h1>Hello World</h1>
                    <div class="container-4-information">
                        <p>
                            Hello I am a Webdeveloper and a Webdesigner.
                        </p>
                    </div>
                </div>
            </div>
        </Section>
        <Section class="project-section" id="project">
            <h1 id="Title">Project</h1>
        </Section>
        <Section class="contact-section" id="contact">
            <h1 id="Title">Contact</h1>
        </Section>
    </body>
</html> 
