<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CodiGamingStudio.github.io/Src/Css/NavigationBar.css">
</head>
<body>
    <div class="container">
        <nav class="menu">
            <div class="logo"><h1>CodiGamingStudio</h1></div>
            <ul>
                <li><a href="/CodiGamingStudio.github.io/index.html">Home</a></li>
                <li><a href="/CodiGamingStudio.github.io/Src/Html/about.html">About</a></li>
                <li><a href="/CodiGamingStudio.github.io/Src/Html/services.html">Services</a></li>
                <li><a href="/CodiGamingStudio.github.io/Src/Html/contact.html">Contact</a></li>
            </ul>
        </nav>
        <div>
            <h1>This is Contact Page</h1>
        </div>
    </div>
</body>
</html>