<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/CodiGamingStudio.github.io/Src/Css/NavigationBar.css">
        <link rel="stylesheet" href="/CodiGamingStudio.github.io/Src/Css/index.css">
    </head>
    <body>
        <div class="container">
            <nav class="menu">
                <div class="logo"><h1>CodiGamingStudio</h1></div>
                <ul>
                    <li><a href="/CodiGamingStudio.github.io/index.html">Home</a></li>
                    <li><a href="/CodiGamingStudio.github.io/Src/Views/about.html">About</a></li>
                    <li><a href="/CodiGamingStudio.github.io/Src/Views/services.html">Services</a></li>
                    <li><a href="/CodiGamingStudio.github.io/Src/Views/contact.html">Contact</a></li>
                </ul>
            </nav>
            <div class="title">
                <h1 class="title-txt">
                    Best Web Developer 
                    and Web Engineer
                </h1>
                <p class="title-comment">Click on Contact to Get More Information</p>
                <div class="picture"><img src="/CodiGamingStudio.github.io/Src/Pic/Vanny-crazyface-1.jpg" alt="My-Picture"></div>
            </div>
        </div>
    </body>
</html>
