* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    /*background-image: linear-gradient(340deg, black, rgb(92, 91, 91));*/
    background-color: rgba(24, 24, 24, 0.932);
}
.container {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container .title .title-txt {
    position: fixed;
    top: 6.5cm;
    left: 5cm;
    font-size: 6em;
    padding: 30px;
    width: 500px;
    height: auto;
    border: 3px rgb(255, 208, 0) solid;
    border-radius: 1cm;
    color: rgb(255, 208, 0);
    opacity: 0.5;
}
.container .title .title-comment {
    position: fixed;
    top: 20.5cm;
    left: 5cm;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    color: rgb(255, 208, 0);
    opacity: 0.5;
}
.container .title .picture img {
    position: fixed;
    top: 4.5cm;
    left: 27cm;
    width: 640px;
    height: 700px;
    opacity: 0.8;
    border: 3px rgb(255, 208, 0) solid;
    border-radius: 20cm;
}